:root { --main-color: #F4F4FD;}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.page-nav .text-logo {
    color: #2E2F42;
}

.nav-list .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 0.02em;
} 
.nav-list .nav-link:hover,
.nav-list .nav-link:focus
 {
  color: #404BBF;
}
.contacts-adress {
    font-style: normal;
}
.contacts-links .link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.contacts-links .link:hover,
.contacts-links .link:focus {
    color: #404BBF;
}
.main-page {
    background-color: #2e2f42;
}
.main-title {
   color: #ffffff;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
}
.main-button {
   background-color: #4D5AE5;
   color: #FFFFFF;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   cursor: pointer;
   font-family: inherit;
   letter-spacing: 0.04em;
}
.main-button:hover,
.main-button:focus {
   background-color: #404BBF;
}
.benefits .benefits-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.benefits .about-benefits {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    background-color: #F4F4FD;
}
.team-cards {
    background-color: #FFFFFF;
}
.our-team-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}.team-cards-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-cards-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}
.portfolio-main-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
   color: #2E2F42;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}
.portfolio-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2e2f42;
}
.studio-logo {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    color: #F4F4FD;
}
.text-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);

}